@model whos_bad.Models.Comportamento

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Comportamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomeDoComportamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeDoComportamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IntensidadeDoSentimento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IntensidadeDoSentimento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Humor.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Humor.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sentimento.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sentimento.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ComportamentoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
