@model whos_bad.Models.Registro

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid" style="width: 60%">
    <h2>Detalhes</h2>

    <div>
        <h4>Registro</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Contexto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contexto)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Atitude)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Atitude)
            </dd>

            <dt>
                @Html.DisplayName("Sentimento")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sentimento.Nome)
            </dd>

            <dt>
                @Html.DisplayName("Humor")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Humor.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Pensamento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pensamento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Data)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Data)
            </dd>

            <dt>
                @Html.DisplayName("Usuario ")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Usuario.Nome)
            </dd>

        </dl>
    </div>
</div>