@model IEnumerable<whos_bad.Models.Usuario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid" style="width: 90%">
    <h2>Usuarios</h2>
    <p>
        @Html.ActionLink("Cadastrar Usuario", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobrenome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Perfil)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeDeUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistroConselho)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataDeNascimento)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sobrenome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Perfil)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeDeUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegistroConselho)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataDeNascimento)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.UserId }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.UserId }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.UserId })
                </td>
            </tr>
        }

    </table>
</div>