@model whos_bad.Models.Registro

@{
    ViewBag.Title = "Cadastrar CD-Quest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid" style="width: 60%">
    <h2>Cadastrar CD-Quest</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Registro</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label for="Contexto">Contexto:</label>
            <textarea name="Contexto" class="form-control mw-100" placeholder="Digite aqui o Contexto"></textarea>
        </div>

        <div class="form-group">
            <label for="Atitude">Atitude:</label>
            <textarea name="Atitude" class="form-control mw-100" placeholder="Digite aqui a Atitude que foi tomada"></textarea>
        </div>

        @*<div class="form-group">
            <label for="Sentimento">Sentimento:</label>
            <input type="text" name="Sentimento" class="form-control mw-100" placeholder="Digite aqui o que você sentiu">
        </div>

        <div class="form-group">
            <label for="Humor">Humor:</label>
            <input type="text" name="Humor" class="form-control mw-100" placeholder="Digite seu humor">
        </div>*@

        <div class="form-group">
            <label for="FKSentimentoId">Sentimento:</label>
            @Html.DropDownList("FKSentimentoId", null, htmlAttributes: new { @class = "form-control mw-100" })
            @Html.ValidationMessageFor(model => model.FKSentimentoId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="FKHumorId">Humor:</label>
            @Html.DropDownList("FKHumorId", null, htmlAttributes: new { @class = "form-control mw-100" })
            @Html.ValidationMessageFor(model => model.FKSentimentoId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="Pensamento">Pensamento:</label>
            <textarea name="Pensamento" class="form-control mw-100" placeholder="Digite o que você pensou na hora"></textarea>
        </div>

        <div class="form-group">
            <label for="Data">Data:</label>
            <input type="date" name="Data" class="form-control mw-100">
        </div>

        <input type="hidden" name="FKUserId" value="@Session["idUsu"]" />

        @*<div class="form-group">
            <label for="FkUSerId">Usuario:</label>
            @Html.DropDownList("FKUserId", null, htmlAttributes: new { @class = "form-control mw-100" })
            @Html.ValidationMessageFor(model => model.FKUserId, "", new { @class = "text-danger" })
        </div>*@


        <div class="form-group">
            <button type="submit" class="btn btn-secondary btn-block">Cadastrar</button>
        </div>
    </div>
    }

    <div>
        @Html.ActionLink("<< Voltar", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>