@model whos_bad.Models.Registro

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid" style="width: 60%">
    <h2>Detalhes</h2>

    <div>
        <h4>Registro</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Contexto)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Contexto)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Atitude)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Atitude)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sentimento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sentimento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Humor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Humor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Data)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Data)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Pensamento)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Pensamento)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Usuario.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Usuario.Nome)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.RegistroId }) |
        @Html.ActionLink("<< Voltar", "Index")
    </p>
    </div>