<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Who's Bad</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
       body{
           margin: 0;
           padding: 0;
       }
    </style>
    @RenderSection("style", required: false)
</head>
<body>
       
    <div class="container-fluid" style="width:100%">
        <nav class="navbar navbar-expand navbar-dark bg-dark">
            <ul class="navbar-nav float-right">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Who's Bad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/about">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home/contact">Contato</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Usuarios/Create">Cadastrar-se</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login/autenticar">Entrar</a>
                </li>
            </ul>
        </nav>
        <div style="margin-top: 10px"></div>

    </div>
    @RenderBody()
    <hr />
    <div class="container-fluid">
        <footer>
            <p>&copy; @DateTime.Now.Year - Who's Bad</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
</body>
</html>
