@model IEnumerable<whos_bad.Models.Registro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Contexto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Atitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sentimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Humor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pensamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Contexto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Atitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sentimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Humor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pensamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RegistroId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RegistroId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RegistroId })
        </td>
    </tr>
}

</table>
